<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Neokecci Multiconcepts Company Limited</title>


    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <header>
        <img src="/logo.png" alt="Neokecci Logo">
		<h1>Neokecci Multiconcepts Company Limited</h1>
        <p>Your Trusted Training Consultancy Partner</p>
    </header>
    
    <section id="about">
        <h2>About Us</h2>
        <p>NEOKECCI MULTICONCEPTS COMPANY LIMITED provides support to large/multinational companies to carry out youth and women enterprise development programmes, and community development projects/programmes in their host communities, projects/programmes monitoring and evaluation and impact assessment.</p> 
<p>We are experienced in conducting impact assessment of social investment programmes of multinaionals. We are also accredited Trainers for Shell LiveWIRE (a youth enterprise training and development programme), a platform we have used to train and mentor more than 1,600 beneficiaries, with many of them flourishing in business.</p> 
<p>And we have a strong track record in executing the Shell GMoU template which we used to coordinate and monitor the design, initiation, and execution of 242 rural developmental projects, worth over 10 million US Dollars (currently 15 billion Naira), in 18 communities in the Niger Delta.</p>
 <p> We are currently implementing the Vocational, Innovation, Business, and Empowerment Scheme (VIBES), a business management training, mentorship and coaching programme powered by Nigeria LNG Limited (NLNG).</p>
    <p>The company was founded in July 2005, but was incorporated in December 2010 </p>
	</section>

	<section id="mission">
        <h2>Our Mission</h2>
        <p> We strive to contribute to the growth of the national economy with focus on enterprise development in the Niger Delta.</p> 
<p>To achieve this objective, we support small businesses to grow, and continue to support large/multinational organizations to develop and grow small and medium enterprises.</p> 
<p>Our commitment to excellence allows us to achieve consistent top quality in all our endeavours.</p>
    </section>
    
    <section id="services">
        <h2>Our Services</h2>
        <ul>
            <li>Project Monitoring & Evaluation / Impact Assessments</li>
            <li>Youth and Women Entrepreneurship Development Training</li>
			<li>Capacity Building & Training</li>
			<li>Rural Community Development< Facilitation/li>
			<li>Business Coaching and Mentoring</li>
			<li>Production of Business Talk Shows for Radio and TV</li>
            <li>Business Consulting</li>
            <li>Business Support Services</li>
        </ul>
    </section>

	<section id="facts">
        <h2>Fast Facts About Us</h2>
        <ul>
            <li>Currently implementing the Vocational, Innovation, Business, and Empowerment Scheme (VIBES), a business management training, mentorship and coaching programme powered by Nigeria LNG Limited (NLNG) 2024 - Date</li>
            <li>Conducted monitoring and evaluation of the businesses of the NLNG Youth Empowerment Scheme (YES) to determine the impact of the initiative over the years. (2023)</li>
			<li>Selected and trained over 1600 young men and women in starting and growing a business in Rivers, Bayelsa, Delta, Abia, Akwa Ibom, Cross River, Edo, and Imo states for Shell Nigeria Livewire programme (2012 – present)</li>
			<li>Conducted monitoring and evaluation of the businesses of LiveWIRE beneficiaries to ascertain their performance (2010)./li>
			<li>Coordinated and monitored the design and execution of 242 developmental projects as part of The Shell Petroleum Development Company of Nigeria Limited (SPDC)’s Global Memorandum of Understanding (GMoU), in rural communities in Rivers, Bayelsa and Delta States worth over 15 billion Naira (2017 – 2022).</li>
			<li>Produced over 400 editions of the Small Business Radio Show (a small business development radio programme sponsored by SPDC), that aired weekly on five radio stations in Rivers, Bayelsa and Delta States (2009 - 2014)</li>
            <li>Organized an annual Small Business Forum sponsored by SPDC (2010 - 2013).</li>
            <li>Conducted monitoring and evaluation of the businesses of LiveWIRE beneficiaries to ascertain their performance (2010).</li>
        </ul>
    </section>

	     
    <section id="contact">
        <h2>Contact Us</h2>
        <p>Email: info@neokecci.com</p>
        <p>Phone: +234 809 563 0040</p>
    </section>
    
    <footer>
        <p>&copy; 2025 Neokecci Multiconcepts Company Limited. All Rights Reserved.</p>
    </footer>
</body>
</html>
